<div class="h-full p-2">
  <div class="flex-col h-full text-foreground">
    <div class="flex gap-2 border border-border rounded p-2 ">
      @if (!left()) {
        <p>TURN DISPLAY</p>
      }
      <div>
        <p class="underline text-sm">{{getUsername()}}</p>
        <!-- <p class="text-xs w-max text-muted">{{ getUuid() }}</p> -->
      </div>
      @if (left()) {
        <p>TURN DISPLAY</p>
      }
    </div>
    <div class="flex flex-col gap-2 border border-border rounded p-2 justify-center">
      @if (!other()) {
        @for (ship of gameService.ships(); track ship.shipId) {
          <button (click)="setSelectedShip(ship)">
            <div>
              <p class="w-max">{{ship.shipName}} {{ship.shipCount}}</p>
              <!--TODO: image of ship-->
            </div>
          </button>
        }
        <button (click)="switchRotation()">Switch Rotation</button>
      } @else {
        <div>OTHER DATA</div>
      }
    </div>
  </div>
</div>
