<div class="h-full p-4 bg-background text-foreground">
  <!-- Player Header -->
  <div class="flex justify-between items-center bg-background p-3 rounded-lg border border-foreground mb-4">
    <div class="flex content-between space-x-3">
      @if (!left()) {
        <div class="w-10 h-10 text-sm flex items-center justify-center">
          {{ !gameService.isAttacking() ? 'ATK' : 'DEF' }}
        </div>
      }
      <div>
        <p class="font-bold text-foreground">
          {{ getUsername() }}
        </p>
        <p class="text-xs text-muted-foreground">{{ getUuid() }}</p>
      </div>
      @if (left()) {
        <div class="w-10 h-10 text-sm flex items-center justify-center">
          {{ gameService.isAttacking() ? 'ATK' : 'DEF' }}
        </div>
      }
    </div>
  </div>

  <!-- Fleet Status -->
  <div class="bg-background rounded-lg p-4 mb-4 border border-foreground shadow-lg w-max">
    @if (!other()) {
      <h3
        class="text-lg font-bold text-foreground mb-3 pb-2 border-b border-foreground underline">
        YOUR FLEET
      </h3>
      <div class="space-y-2">
        @for (ship of gameService.ships(); track ship.shipId) {
          <button
            (click)="setSelectedShip(ship)"
            [disabled]="gameService.board.getShipCountLeft(ship) < 1"
            class="w-full flex justify-between items-center p-3 rounded-lg transition-all gap-3 bg-muted/50 hover:bg-muted"
            [class.bg-background]="gameService.selectedShip()?.shipId !== ship.shipId"
            [class.opacity-50]="gameService.board.getShipCountLeft(ship) < 1">

            <div class="flex items-center">
              <div class="w-10 h-10 flex items-center justify-center bg-c0c0c0 rounded-lg font-bold text-foreground">
                {{ getShipInitials(ship.shipName) }}
              </div>
              <span class="font-medium text-foreground">{{ ship.shipName }}</span>
            </div>

            <div class="flex items-center space-x-4">
              <span class="text-sm text-gray-300">Size: {{ ship.horizontalSize }}×{{ ship.verticalSize }}</span>
              <span class="bg-background px-2 py-1 rounded-full text-xs font-bold border border-foreground">
              {{ gameService.board.getShipCountLeft(ship) }} left
            </span>
            </div>
          </button>
        }
      </div>
    } @else {
      <h3
        class="text-lg font-bold text-foreground mb-3 pb-2 border-b border-foreground underline">
        Zerstörte Flotte
      </h3>
      <div class="space-y-2">
        @for (ship of gameService.ships(); track ship.shipId) {
          <div
            class="w-full flex justify-between items-center p-3 rounded-lg transition-all gap-3 bg-muted/50 hover:bg-muted"
            [class.opacity-50]="gameService.getDestroyedShipCount(ship) == ship.shipCount">

            <div class="flex items-center">
              <div class="w-10 h-10 flex items-center justify-center bg-c0c0c0 rounded-lg font-bold text-foreground">
                {{ getShipInitials(ship.shipName) }}
              </div>
              <span class="font-medium text-foreground">{{ ship.shipName }}</span>
            </div>

            <div
              class="flex items-center space-x-4"
              [class.text-muted-foreground]="gameService.getDestroyedShipCount(ship) != ship.shipCount"
            >
              <span class="text-sm text-gray-300">Size: {{ ship.horizontalSize }}×{{ ship.verticalSize }}</span>
              <span
                class="bg-background px-2 py-1 rounded-full text-xs font-bold border border-red-700"
                [class.border-green-700]="gameService.getDestroyedShipCount(ship) == ship.shipCount"
              >
              {{ gameService.getDestroyedShipCount(ship) }} / {{ship.shipCount}}
            </span>
            </div>
          </div>
        }
      </div>
    }
  </div>

  <!-- Command Panel -->

  @if (!other() && gameService.round() < 1) {
    <div class="bg-background rounded-lg p-4 border border-foreground shadow-lg">
      <h3
        class="text-lg font-bold text-foreground mb-3 pb-2 border-b border-foreground underline">
        Befehle
      </h3>
      <div class="grid grid-cols-2 gap-3 mb-3">
        <button
          (click)="switchRotation()"
          [disabled]="gameService.round() > 0"
          class="hover:bg-muted rounded-lg">
          Drehung: {{ gameService.selectedRotation() === Rotation.horizontal ? 'Horizontal' : 'Vertikal' }}
        </button>

        <button
          (click)="switchRemoveActive()"
          [disabled]="gameService.round() > 0"
          [class.bg-destructive]="gameService.isRemoving()"
          [class.bg-background]="!gameService.isRemoving()"
          class="hover:bg-destructive/80 p-3 rounded-lg text-sm font-medium transition-colors shadow-md">
          {{ gameService.isRemoving() ? 'CANCEL REMOVE' : 'REMOVE MODE' }}
        </button>
      </div>

      <button
        (click)="switchReady()"
        [disabled]="gameService.round() > 0"
        [class.bg-green-700]="connectionService.isReady()"
        class="w-full p-3 hover:bg-green-800 rounded-lg font-bold transition-colors hover:bg-opacity-90 shadow-lg"
        [class.opacity-70]="gameService.round() > 0">
        {{ connectionService.isReady() ? 'AWAITING OPPONENT...' : 'CONFIRM DEPLOYMENT' }}
      </button>
    </div>
  } @else if (other()) {
    <div class="bg-background rounded-lg p-4 border border-foreground shadow-lg">
      <h3
        class="text-lg font-bold text-foreground mb-3 pb-2 border-b border-foreground underline">
        Chat
      </h3>
    </div>
  }
</div>
