<button (click)="onPress()" class="h-full aspect-square border-2 border-border group-hover:border-foreground duration-300">
  <div class="h-full w-full opacity-30 hover:bg-primary">
    @if (gameService.isDebugging()) {
      <p>{{X + "-" + Y}}</p>
      <p>{{CellStatus[status()]}}</p>
      <p>{{content()?.shipName}}</p>
      <p>{{placedShipId()}}</p>
    } @else {
      <div class="relative w-full h-full overflow-visible">
        <img src="assets/game/water.gif" class="absolute top-0 left-0 w-full h-full object-fill" alt="Water"/>
        @if (isShip()) {
          <img [src]="shipImagePath()"
               class="absolute top-0 left-0 w-full h-full object-fill"
               [class.rotate-90]="!isHorizontal()"
               alt="{{content()?.shipName}}"/>
        }
        <img [hidden]="status() !== CellStatus.destroyed" src="assets/game/hit.png"
             class="absolute top-0 left-0 w-full h-full object-fill" alt="Hit Marker"/>
      </div>
    }
  </div>
</button>
