<button (click)="onPress()" class="h-full aspect-square border-2 border-border group-hover:border-destructive duration-700">
  <div class="h-full w-full hover:bg-primary">
    @if (gameService.isDebugging()) {
      <p>{{X + "-" + Y}}</p>
      <p>{{attacked()}}</p>
      <p>{{result()}}</p>
      <p>{{destroyedShip()?.shipName}}</p>
    } @else {
      <div class="relative w-full h-full overflow-visible">
        <img
          [src]="resourceService.getWaterImgSource()"
          class="absolute top-0 left-0 w-full h-full object-fill z-10 opacity-70"
          alt="Water"/>

        <!-- Ship image, aligned top-left and ensures it's filling and not centered -->
        <img
          [src]="shipSrc()"
          [hidden]="shipSrc() == ''"
          class="absolute top-0 left-0 w-auto h-auto object-cover max-w-fit z-20"
          alt="{{destroyedShip()?.shipName}}"
          style="min-width: 100%; min-height: 100%;"
        />

        <!-- Hit marker -->
        <img
          [hidden]="!attacked()"
          [src]="resourceService.getHitImgSource(result())"
          [class.opacity-35]="result() == AttackResult.Miss"
          [class.opacity-75]="result() == AttackResult.Sunk"
          [class.mix-blend-screen]="result() != AttackResult.Hit"

          class="absolute top-0 left-0 w-full h-full object-fill z-30"
          alt="Hit Marker"/>
      </div>
    }
  </div>
</button>
