<button (click)="onPress()" class="h-full aspect-square border-2 border-border group-hover:border-destructive duration-300">
  <div class="h-full w-full opacity-30 hover:bg-primary">
    @if (gameService.isDebugging()) {
      <p>{{X + "-" + Y}}</p>
      <p>{{attacked()}}</p>
      <p>{{result()}}</p>
      <p>{{destroyedShip()?.shipName}}</p>
    } @else {
      <div class="relative w-full h-full overflow-visible">
        <img src="game-resources/default/water.gif" class="absolute top-0 left-0 w-full h-full object-fill"  alt="Water"/>
        <img src="" class="absolute top-0 left-0 w-full h-full object-fill"  alt="Boat"/>
        <img [hidden]="!attacked()" src="game-resources/tom/hit.png" class="absolute top-0 left-0 w-full h-full object-fill"  alt="Hit Marker"/>
      </div>
    }
  </div>
</button>
